<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <add name ="cnStrBackuper" connectionString ="Data Source=IP or DNS name;Initial Catalog=backuper;uid=; pwd=;"/>
  </connectionStrings>
</configuration>